<div class="col-md-6 offset-md-3 jumbotron">
    <h1>Login</h1>
    <br />
    <form method="post">
        <input type="text" class="form-control" name="email" placeholder="Email" />
        <br />
        <input type="password" class="form-control" name="password" placeholder="Password" />
        <br />
        <button class="btn btn-primary btn-block btn-lg">Login</button>
        <a href="/account/register">Don't have an account? Register here!</a>
    </form>
</div>
